*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1170px;
}


.row {
    display: flex;
    justify-content: space-between;
}


.main {
    width: 870px;
}


.sidebar {
    width: 270px;
}

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-holder > .card-link {
    margin-bottom: 30px;
}

/* Card */
a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

a.card-link:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.card {
    position: relative;
    width: 270px;
    background-color: #fff;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    padding: 0 10px;
    height: 22px;
    border-radius: 4px;
    background: #FFCF26;
    font-size: 14px;
    line-height: 23px;
    color: #000;
}

.card__badge--class {
    background: #FFCF26;
}


.card__badge--credit {
    background: #11BE75;
}

.card__content {
    padding: 16px 15px 20px;
}


.card__title {
margin: 0;
margin-bottom: 10px;
font-weight: bold;
font-size: 18px;
line-height: 1.16;
color: #000000;
}


.card__term {
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
color: #000000;
}


.card__metro {
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
color: #000000;
}

.card__metro::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('./../img/icons/metro.svg');
    background-repeat: no-repeat;
    background-size: initial;
}


.card__adress {
    font-size: 14px;
line-height: 1.14;
color: #777777;
}

/* Button more */


.btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;

    border-radius: 4px;
    background: #E5E5E5;
    border: none;

    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #4290C9;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

}

.btn-more:hover {
    background-color: #d8d8d8;
}

.btn-more img {
    /*display: inline-block;*/
    margin-right: 10px;
    /*vertical-align: bottom;*/
}

/* Sidebar */
.widget + .widget {
    margin-top: 33px;

}

.widget__top__30 {
    margin-top: 30px !important;
}


.widget__title {
    position: relative;
    margin-bottom: 21px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.16;
    color: #000;
}

.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1px;
    top: -1px;
    /*background-color: red;*/
    background-image: url("./../img/icons/chevron-up.svg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}

/* location buttons group */
.location {}


.location__row {
    display: flex;
}

.location__row:first-child {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 1px solid #D6D6D6;
}

.location__row:last-child {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    border: 1px solid #D6D6D6;
    border-top: none;
}


.location__btn {
    font-family: inherit;
    flex-grow: 1;
    padding: 0 15px;
    height: 48px;
    background-color: transparent;
    border: none;

    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    color: #3C3C3C;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.location__btn:hover {
    background-color: #fff0bb;
}

.location__checkbox {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;

}

.location__checkbox:checked + .location__btn {
    background-color: #FFCF26;
}

.location__checkbox:checked + .location__btn:hover {
    background-color: #e0b000;
}

/* Radio */

.radio {
    display: block;
    cursor: pointer;
}

.radio + .radio {
    margin-top: 15px;
}


.radio__real {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    appearance: none;
}

.radio__fake {
    margin-right: 7px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777777;
    border-radius: 50%;
    vertical-align: bottom;
}


.radio__real:checked + .radio__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3C3C3C;
    transform: translate(-50%, -50%);
}


.radio__real:checked + .radio__fake {
    font-style: inherit;
    font-weight: 500;
    background-color: #FFE074;
}


.radio__real:checked ~ .radio__title {
    font-weight: 500;
}


.radio__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color: #3C3C3C;
}

/* checkbox */

.checkbox {
    display: block;
    cursor: pointer;
}

.checkbox + .checkbox {
    margin-top: 15px;
}


.checkbox__real {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    appearance: none; 
}
.checkbox__fake {
    position: relative;
    margin-right: 7px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 2px;
    vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
    background-color: #FFE074;
}

.checkbox__real:checked + .checkbox__fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-image: url("./../img/icons/check.svg");
    background-size: initial;
    background-position: center;
    transform: translate(-50%, -50%);

}


.checkbox__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color: #3C3C3C;
}

.checkbox__real:checked ~ .checkbox__title {
    font-weight: 500;
}

/* hidden elements widget */

.widget__hidden {
    display: none;;
}


.widget__show__hidden {
    display: inline-block;
    padding: 0;
    margin-top: 15px;
    background-color: transparent;
    

    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    border: none;
    line-height: 1.19;
    color: #4290C9;
   
    cursor: pointer;
    transition: color 0.2s ease-in;

}

.widget__show__hidden:hover {
    color: #316d98;
    text-decoration: underline;
}

/* widget toggle*/


.toggle {
    cursor: pointer;
}


.toggle__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}


.toggle__fake {
    display: inline-block;
    position: relative;
    margin-right: 7px;
    width: 37px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 10px;
    vertical-align: bottom;
}

.toggle__fake::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    background-color: #3c3c3c;
    transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
    background-color: #FFE074;
}

.toggle__real:checked + .toggle__fake::before {
    left: 19px;
}


.toggle__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    color: #3C3C3C;
}

.toggle__real:checked ~ .toggle__title {
    font-weight: 500;
}

/* Form buttons */

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    background-color: transparent;

    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #3C3C3C;

    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.form-btn img {
    /*display: inline-block;*/
    margin-right: 6px;
   /* vertical-align: middle;*/
    /*margin-top: -2px;*/
}

.form-btn:hover {
    background-color: #e7e7e7;
}

.form-btn + .form-btn {
    margin-top: 10px;
}


.form-btn--submit {
    background-color: #FFCF26;
    border: none;
    color: #000;
}

.form-btn--submit:hover {
    background-color: #ffe173;
}








