*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1170px;
}


.row {
    display: flex;
    justify-content: space-between;
}


.main {
    width: 870px;
}


.sidebar {
    width: 270px;
}

/* Card */
a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

a.card-link:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.card {
    position: relative;
    width: 270px;
    background-color: #fff;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;
}

.card__badges > * + * {
    margin-left: 10px;
}

.card__badge {
    display: inline-block;
    padding: 0 10px;
    height: 22px;
    border-radius: 4px;
    background: #FFCF26;
    font-size: 14px;
    line-height: 23px;
    color: #000;
}

.card__badge--class {
    background: #FFCF26;
}


.card__badge--credit {
    background: #11BE75;
}

.card__content {
    padding: 16px 15px 20px;
}


.card__title {
margin: 0;
margin-bottom: 10px;
font-weight: bold;
font-size: 18px;
line-height: 1.16;
color: #000000;
}


.card__term {
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
color: #000000;
}


.card__metro {
margin-bottom: 10px;
font-size: 14px;
line-height: 1.14;
color: #000000;
}

.card__metro::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('./../icons/metro.svg');
    background-repeat: no-repeat;
    background-size: initial;
}


.card__adress {
    font-size: 14px;
line-height: 1.14;
color: #777777;
}
